.Button {
    display:inline-block;
    height: 40px;
    width: 100px;
    background-color: #039be5;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid #039be5;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:bold;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}

.Button:focus {
    outline: none;
    background-color: #0674ac;
    
}

.Button:hover,
.Button:active {
    border-color: rgba(255,255,255,1);
    background-color: #0674ac;
}